<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Formularz rejestracji</title>
    <div th:replace="fragments :: head_extensible"></div>
</head>
<body>
<div th:replace="fragments :: menu"></div>
<div class="container py-5">
    <div class="row col-md-8 offset-md-2 py-5">
        <div class="card">
            <h1 class="py-2 text-center">Rejestracja</h1>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Twoje konto zostało Zarejestrowane na naszym serwisie sportowym!
                </div>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        enctype="multipart/form-data"
                        th:action="@{/register/save}"
                        th:object="${userDto}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Imię</label>
                        <input
                                class="form-control"
                                id="firstName"
                                name="firstName"
                                placeholder="Wprowadź imię"
                                th:field="*{firstName}"
                                type="text"
                        />
                        <p th:errors = "*{firstName}" class="text-danger"
                           th:if="${#fields.hasErrors('firstName')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Nazwisko</label>
                        <input
                                class="form-control"
                                id="lastName"
                                name="lastName"
                                placeholder="Wprowadź nazwisko"
                                th:field="*{lastName}"
                                type="text"
                        />
                        <p th:errors = "*{lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('lastName')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Wprowadź email"
                                th:field="*{email}"
                                type="email"
                        />
                        <p th:errors = "*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Hasło</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Wprowadź hasło"
                                th:field="*{password}"
                                type="password"
                        />
                        <p th:errors = "*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Powtórz hasło</label>
                        <input
                                class="form-control"
                                id="confirm_password"
                                name="confirm_password"
                                placeholder="Powtórz hasło"
                                th:field="*{confirmPassword}"
                                type="password"
                        />
                        <p th:errors = "*{confirmPassword}" class="text-danger"
                           th:if="${#fields.hasErrors('confirmPassword')}"></p>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Zarejestruj</button>
                        <span>Posiadasz konto <a th:href="@{/login}">Zaloguj się</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
    });
</script>
</body>
</html>